{% extends "base.html" %}

{% block title %}
<title>Portal</title>
{% endblock %}

{% block pageStylesAndScripts %}
<style>
    .link-card-deck
    {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        background-color:transparent;
    }
    .link-card-divider
    {
        margin:0.75rem;
        width: 100%;
        color: white;
        font-size: large;
    }
    .link-card
    {
        height: 7.5rem;
        width: 20rem;
        margin:0.75rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: rgba(255,255,255,0.8)!important;
        color: #343a40;
        text-decoration: none;
    }
    .link-card:hover
    {
        color: #343a40;
        text-decoration: none;
    }
    .link-card-img
    {
        height: 3rem;
        width: 3rem;
        flex: none;
        margin: 0.5rem;
    }
    .link-card-img > img
    {
        height: 100%;
        width:100%;
    }
    .link-card-body
    {
        height: 100%;
        display: flex;
        flex: 1 1 1px;
        flex-flow: column nowrap;
    }
    .link-card .link-card-text
    {
        text-align: center;
        color:#0062cc;
        margin: 0.5rem 0 0 0;
    }
    .link-card-header
    {
        flex: none;
        font-weight: bold;
        text-overflow: ellipsis;
        font-size: large;
        margin: 0.25rem;
    }
    .link-card-main
    {
        flex: 1 1 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0.25rem;
    }
    .link-card-main>p
    {
        height: 100%;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .link-card-footer
    {
        flex: none;
        padding: 0.25rem;
    }
</style>
{% endblock %}

{% block navbarMenuContent %}
{% endblock %}

{% block mainContent %}
<main class="container-xl flex-grow-1" id="app">
    <div class="link-card-deck">
        <div class="link-card-divider" title="Qaulity management system, providing a dictionary of all processes and instructions.">
            QMS
        </div>
        <a class="link-card">
            <div class="link-card-img">
                <img src="/img/日历.svg" />
            </div>
            <div class="link-card-body">
                <div class="link-card-header">Daily Operation</div>
                <div class="link-card-main">
                    The processes of daily operation, like: leave, sourcing, reimbursement, ...
                </div>
            </div>
        </a>
        <a class="link-card">
            <div class="link-card-img">
                <img src="/img/engineering.svg" />
            </div>
            <div class="link-card-body">
                <div class="link-card-header">ENG & MFG</div>
                <div class="link-card-main">
                    The processes of Engineering & Manufacturing, like: drawing release, design change, ...
                </div>
            </div>
        </a>
        <div class="link-card-divider">
            Tools
        </div>
        <a class="link-card disabled" href="/project">
            <div class="link-card-img">
                <img src="/img/project.svg" />
            </div>
            <div class="link-card-body">
                <div class="link-card-header">Project</div>
                <div class="link-card-main">
                    Manage the project
                </div>
            </div>
        </a>
        <a class="link-card" href="/etime">
            <div class="link-card-img">
                <img src="/img/etime.svg" />
            </div>
            <div class="link-card-body">
                <div class="link-card-header">eTime</div>
                <div class="link-card-main">
                    Charge your daily working hours to specified codes. Applicable only to ENG & MFG departments.
                </div>
            </div>
        </a>
        <a class="link-card">
            <div class="link-card-img">
                <img src="/img/record.svg" />
            </div>
            <div class="link-card-body">
                <div class="link-card-header">IOI</div>
                <div class="link-card-main">
                    Items of interest, to weekly update your work and get feedback from the sponsors.
                </div>
            </div>
        </a>
        <!-- Training -->
        <div class="link-card-divider">
            Training
        </div>
        <a class="link-card">
            <div class="link-card-img">
                <img src="/img/library.svg" />
            </div>
            <div class="link-card-body">
                <div class="link-card-header">Library</div>
                <div class="link-card-main">
                    Training material for the company and technical background.
                </div>
            </div>
        </a>
    </div>
</main>
{% endblock %}
