{% extends "base.html" %}
{% block title %}
<title>eStaffing</title>
{% endblock %}

{% block navbarBrand %}
<a class="navbar-brand">eStaffing</a>
{% endblock %}

{% block navbarMenuContent %}
<li class="nav-item"><a class="nav-link" href="/etime">eTime</a></li>
{% endblock %}

{% block mainContent %}
<div class="flex-fill d-flex flex-row overflow-hidden">
    <!-- Left Panel -->
    <div class="d-none col-auto" style="width: 0;"></div>

    <!-- Main Panel -->
    <div class="col d-flex flex-column overflow-hidden">
        <div class="flex-fill bg-light shadow" style="background-color: rgba(255,255,255,0.9)!important; padding: 1rem;">
            <div id="app">
                <es-editor></es-editor>
            </div>
        </div>
    </div>

    <!-- Right Panel -->
    <div class="d-none col-auto" style="width: 0rem;"></div>
</div>
{% endblock %}

{% block pageStylesAndScripts %}
<link rel="stylesheet" href="/estaffing_list.css">
<script src="/datetime.js"></script>
<script src="/estaffing.js"></script>

<script src="/estaffing_list.js"></script>
<script>
    var vm;

    function pageLoad() {
        vm=new Vue({
            el: '#vueapp',
        });
    }
</script>
{% endblock %}