{% extends "ioi_base.html" %}

{% block pageStylesAndScripts %}
<script src="/datetime.js"></script>
<script src="/ioi_tasklist.js"></script>
<script>
    var userId=Number("{{user.id}}");
    var targetUserId=Number("{{targetUserId}}")
    function pageLoad() {
        vm = new Vue({
            delimiters: ['{[', ']}'],
            data:function(){
                return {
                    user: userId,
                    ajaxStatus:"",
                    tasks:[],
                    weekDate:"",
                };
            },
            methods:{
                getData_beforeCallback:function(){
                    this.ajaxStatus="running";
                },
                getData_successCallback:function(rsp){
                    console.info(`${new Date().toJSON()}: Success to get data from the server!`);
                    console.log(rsp);
                    if (rsp.isSuccess){
                        this.ajaxStatus="success";
                        this.tasks=rsp.tasks;
                        this.weekDate=rsp.weekDate;
                    }
                    else{
                        this.ajaxStatus="error";
                        this.tasks=[];
                        this.weekDate="";
                        console.warn(rsp.exceptionMessage);
                    }
                },
                getData_errorCallback:function(){
                    console.error(`${new Date().toJSON()}: Fail to fetch data from the server!`);
                    this.ajaxStatus="error";
                    this.tasks=[];
                    this.weekDate="";
                },
                getTaskDisplayValue:function(task){
                    if (task.task===0) return "0:非特定任务";
                    else return task.task+":"+task.title;
                }
            },
            el: "#vueapp",
            mounted:function(){
                $.ajax({
                    type: "POST",
                    url: "/ioi/service",
                    contentType: "application/json",
                    data: JSON.stringify({
                        function:"getTasksOfLastWeek",
                        user:targetUserId,
                    }),
                    dataType: "json",
                    async: true,
                    context: this,
                    beforeSend: this.getData_beforeCallback,
                    success: this.getData_successCallback,
                    error: this.getData_errorCallback,
                    complete: null,
                });
            }
        });
    }
</script>
<style>
    .ioi-code-col{
        width: 7.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-task-col{
        width: 12.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-operation-col{
        width:5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-content-col{
        min-width: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-hours-col{
        width:5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}

{% block mainContent %}
<div class="flex-fill p-3 d-flex flex-column overflow-hidden" style="background-color: rgba(255,255,255,0.9)!important;">
    <ol class="breadcrumb bg-transparent p-0 m-0 position-sticky">
        <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
        <li class="breadcrumb-item"><a href="/ioi">IOI</a></li>
        <li class="breadcrumb-item active">Users</li>
        <li class="breadcrumb-item active"><sm-username-label :user="targetUserId"></sm-username-label></li>
        <li class="breadcrumb-item active">Last Week</li>
    </ol>
    <hr class="my-2"/>
    <h4>{{team}}</h4>
    <div class="alert alert-info" role="alert" v-if="ajaxStatus=='running'">
        <div class="spinner-border spinner-border-sm text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        Searching data from the server...
    </div>
    <div class="alert alert-danger" role="alert" v-if="ajaxStatus=='error'">
        Fail to get codes from the server!
    </div>
    <div v-if="ajaxStatus=='success'">
        <table class="table table-sm table-striped table-hover" style="table-layout:fixed">
            <thead>
                <tr>
                    <th class="ioi-code-col">Code</th>
                    <th class="ioi-task-col">Task</th>
                    <th class="ioi-hours-col">Hours</th>
                    <th class="ioi-content-col">Content</th>
                    <th class="ioi-operation-col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="task in tasks">
                    <td class="ioi-code-col">
                        {[task.code]}
                    </td>
                    <td class="ioi-task-col">
                        {[getTaskDisplayValue(task)]}
                    </td>
                    <td class="ioi-hours-col">
                        {[task.hours]}
                    </td>
                    <td class="ioi-content-col">
                        {[task.content]}
                    </td>
                    <td class="ioi-operation-col">
                        <a class="btn btn-sm btn-secondary" :href="'/ioi/users/'+targetUserId+'/view?code='+task.code+'&task='+task.task+'&weekDate='+weekDate">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}