{% extends "ioi_base.html" %}

{% block pageStylesAndScripts %}
<script src="/datetime.js"></script>
<script src="/ioi.js"></script>
<script>
    var userId=Number("{{user.id}}");
    var project="{{project}}";
    function pageLoad() {
        vm = new Vue({
            delimiters: ['{[', ']}'],
            data:function(){
                return {
                    ajaxStatus:"",
                    items:[],
                    totalHours:0,
                };
            },
            el: "#vueapp",
            computed:{
                sortedItems:function(){
                    let items=this.items;
                    items.sort(function(a,b){
                        let strCmp=a.userName.localeCompare(b.userName);
                        if (strCmp>0) return 1;
                        else if (strCmp==0){
                            if (a.task>b.task) return 1;
                            else if (a.task==b.task) return 0;
                            return -1;
                        }
                        else return -1;
                    });
                    this.totalHours=0;
                    for(let item of items.values()){
                        this.totalHours+=item.hours;
                    }
                    return items;
                }
            },
            mounted:function(){
                $.ajax({
                    type: "POST",
                    url: "/ioi/service",
                    contentType: "application/json",
                    data: JSON.stringify({
                        function:"getProjectStatisticsOfLastWeek",
                        project:project,
                    }),
                    dataType: "json",
                    async: true,
                    context: this,
                    beforeSend: this.getData_beforeCallback,
                    success: this.getData_successCallback,
                    error: this.getData_errorCallback,
                    complete: null,
                });
            },
            methods:{
                getTaskDisplayValue:function(item){
                    if (item.task==0) return "0:未定义的任务";
                    else return `${item.task}: ${item.taskTitle}`;
                },
                getData_beforeCallback:function(){
                    this.ajaxStatus="running";
                    console.log(`${new Date().toJSON()}: Getting data from the server...`);
                },
                getData_successCallback:function(rsp){
                    console.info(`${new Date().toJSON()}: Success to get data from the server!`);
                    console.log(rsp);
                    if (rsp.isSuccess){
                        this.ajaxStatus="success";
                        this.items=rsp.items;
                    }
                    else{
                        this.ajaxStatus="error";
                        this.items=[];
                        console.warn(rsp.exceptionMessage);
                    }
                },
                getData_errorCallback:function(){
                    console.error(`${new Date().toJSON()}: Fail to fetch data from the server!`);
                    this.items=[];
                    this.ajaxStatus="error";
                }
            },
        });
    }
</script>
<style>
    .ioi-code-col{
        width:7.5rem;
        max-width: 7.5rem;
        min-width: 5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-task-col{
        width:15rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-hours-col{
        width:5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-content-col{
        width:auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-edit-col{
        width:5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}

{% block mainContent %}
<div class="flex-fill p-3 d-flex flex-column overflow-hidden" style="background-color: rgba(255,255,255,0.9)!important;">
    <ol class="breadcrumb bg-transparent p-0 m-0 position-sticky">
        <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
        <li class="breadcrumb-item"><a href="/ioi">IOI</a></li>
        <li class="breadcrumb-item"><a href="/ioi/projects">Projects</a></li>
        <li class="breadcrumb-item active">{{project}}</li>
        <li class="breadcrumb-item active">Last Week</li>
    </ol>
    <hr class="my-2"/>
    <div class="alert alert-info" role="alert" v-if="ajaxStatus=='running'">
        <div class="spinner-border spinner-border-sm text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        Searching data from the server...
    </div>
    <div class="alert alert-danger" role="alert" v-if="ajaxStatus=='error'">
        Fail to get codes from the server!
    </div>
    <div v-if="ajaxStatus=='success'">
        <table class="table table-sm table-striped table-hover" style="table-layout:fixed">
            <thead>
                <tr>
                    <th class="ioi-user-col">Member</th>
                    <th class="ioi-task-col">Task</th>
                    <th class="ioi-hour-col">Hours</th>
                    <th class="ioi-pcnt-col"></th>
                    <th class="ioi-oper-col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in sortedItems">
                    <td class="ioi-code-col">{[item.userName]}</td>
                    <td class="ioi-task-col">{[getTaskDisplayValue(item)]}</td>
                    <td class="ioi-hour-col">{[item.hours]}</td>
                    <th class="ioi-pcnt-col">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" :style="{ width: item.hours/totalHours*100+'%'}" :aria-valuenow="item.hours/totalHours*100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </th>
                    <td class="ioi-oper-col">
                        <a class="btn btn-sm btn-secondary" :href="'/ioi/users/'+item.user+'/view?code='+item.project+'&task='+item.task+'&weekDate='+item.weekDate">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}