{% extends "ioi_base.html" %}

{% block pageStylesAndScripts %}
<script src="/datetime.js"></script>
<script src="/ioi.js"></script>
<script>
    var userId=Number("{{user.id}}");
    var targetUserId=Number("{{targetUserId}}");
    var code="{{project}}";
    var task=Number("{{task}}");
    function pageLoad() {
        vm = new Vue({
            delimiters: ['{[', ']}'],
            data:function(){
                return {
                    user: userId,
                    ajaxStatus:"",
                    update:[],
                    weekDate:new Date(),
                    latestUpdates:[],
                    commentContent:"",
                };
            },
            methods:{
                getData_beforeCallback:function(){
                    this.ajaxStatus="running";
                },
                getData_successCallback:function(rsp){
                    console.info(`${new Date().toJSON()}: Success to get data from the server!`);
                    console.log(rsp);
                    if (rsp.isSuccess){
                        this.ajaxStatus="success";
                        this.update=rsp.update;
                        console.log(rsp.weekDate);
                        this.weekDate=new Date(rsp.weekDate);
                        this.latestUpdates=rsp.latestUpdates;
                    }
                    else{
                        this.ajaxStatus="error";
                        console.warn(rsp.exceptionMessage);
                    }
                },
                getData_errorCallback:function(){
                    console.error(`${new Date().toJSON()}: Fail to fetch data from the server!`);
                    this.ajaxStatus="error";
                },
                getTaskDisplayValue:function(task){
                    if (task.task===0) return "0:非特定任务";
                    else return task.task+":"+task.title;
                },
                setData_beforeCallback:function(){

                },
                setData_successCallback:function(rsp){

                },
                setData_errorCallback:function(){

                },
                postComment:function(){
                    console.info(new Date().toISOString()+": Posting the comment to the server...");
                    $.ajax({
                        type: "POST",
                        url: "/ioi/service",
                        contentType: "application/json",
                        data: JSON.stringify({
                            function:"postComment",
                            user:userId,
                            update:this.update.id,
                            content:this.commentContent,
                        }),
                        dataType: "json",
                        async: true,
                        context: this,
                        beforeSend: this.setData_beforeCallback,
                        success: this.setData_successCallback,
                        error: this.setData_errorCallback,
                        complete: null,
                    });
                }
            },
            computed:{
                weekLabelDisplayValue:function(){
                    return `W${DateTime.getWeekNumber(this.weekDate)}: ${DateTime.getDateString(DateTime.getFirstDayOfWeek(this.weekDate))} to ${DateTime.getDateString(DateTime.getLastDayOfWeek(this.weekDate))}`;
                },
                showLatestUpdates:function(){
                    if(this.latestUpdates===null) return false;
                    if (this.latestUpdates.length===0) return false;
                    return true;
                },
            },
            el: "#vueapp",
            mounted:function(){
                $.ajax({
                    type: "POST",
                    url: "/ioi/service",
                    contentType: "application/json",
                    data: JSON.stringify({
                        function:"getUpdateOfLastWeek",
                        user: targetUserId,
                        code: code,
                        task: task,
                    }),
                    dataType: "json",
                    async: true,
                    context: this,
                    beforeSend: this.getData_beforeCallback,
                    success: this.getData_successCallback,
                    error: this.getData_errorCallback,
                    complete: null,
                });
            }
        });
    }
</script>
<style>
    .ioi-code-col{
        width: 7.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-task-col{
        width: 12.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-operation-col{
        width:5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-content-col{
        min-width: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ioi-hours-col{
        width:5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}

{% block mainContent %}
<div class="flex-fill p-3 d-flex flex-column overflow-hidden" style="background-color: rgba(255,255,255,0.9)!important;">
    <ol class="breadcrumb bg-transparent p-0 m-0 position-sticky">
        <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
        <li class="breadcrumb-item"><a href="/ioi">IOI</a></li>
        <li class="breadcrumb-item active">Users</li>
        <li class="breadcrumb-item"><a :href="'/ioi/users/'+targetUserId+'/lastweek'"><sm-username-label :user="targetUserId"></sm-username-label></a></li>
        <li class="breadcrumb-item active" v-html="code+':'+task"></li>
    </ol>
    <hr class="my-2"/>
    <h4>{{team}}</h4>
    <div class="alert alert-info" role="alert" v-if="ajaxStatus=='running'">
        <div class="spinner-border spinner-border-sm text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        Searching data from the server...
    </div>
    <div class="alert alert-danger" role="alert" v-if="ajaxStatus=='error'">
        Fail to get codes from the server!
    </div>
    <div v-if="ajaxStatus=='success'">
        <p v-html="weekLabelDisplayValue"></p>
        <div class="form-row m-0">
            <label class="col-sm-2 pl-0">Project:</label>
            <label class="col-sm-10">{[code]}</label>
        </div>
        <div class="form-row m-0">
            <label class="col-sm-2 pl-0">Task:</label>
            <label class="col-sm-10">{[getTaskDisplayValue(update)]}</label>
        </div>
        <div class="form-row m-0">
            <label class="col-sm-2 pl-0">Hours:</label>
            <label class="col-sm-10">0</label>
        </div>
        <div class="d-flex justify-content-between mb-1">
            <label>Updates of this week:</label>
        </div>
        <ioi-post :user="update.user" :content="update.content" :edittime="update.editTime"></ioi-post>
        <template v-for="comment in update.comments">
            <ioi-post :user="comment.user" :editTime="comment.editTime" :content="comment.content"></ioi-post>
        </template>
        <div>
            <textarea class="form-control border border-primary p-2" rows="3" runat="server" v-model="commentContent"></textarea>
            <div class="d-flex flex-row justify-content-start">
                <button class="btn btn-primary btn-sm mt-2" @click="postComment">Comment</button>
            </div>
        </div>
        <hr />
        <div v-if="!showLatestUpdates">There is not other updates.</div>
        <template v-if="showLatestUpdates">
            <div class="d-flex justify-content-between mb-1">
                <label>Latest updates and comments:</label>
                <button class="btn btn-secondary btn-sm">View history</button>
            </div>
            <div v-for="latestUpdate in latestUpdates">
                <ioi-post :user="latestUpdate.user" :content="latestUpdate.content" :edittime="latestUpdate.editTime"></ioi-post>
            </div>
        </template>
    </div>
</div>
{% endblock %}