{% extends "project_base.html" %}
{% block title %}
<title>Project</title>
{% endblock %}

{% block mainContent %}
<div class="flex-fill d-flex flex-row overflow-hidden">
    <!-- Left Panel -->
    <div class="d-none col-auto" style="width: 0;"></div>

    <!-- Main Panel -->
    <div class="px-0 col d-flex flex-column overflow-hidden">
        <div class="flex-fill bg-light shadow" style="background-color: rgba(255,255,255,0.9)!important; padding: 1rem;">
            <div>
                <gc-editor :code="code"></gc-editor>
            </div>
        </div>
    </div>

    <!-- Right Panel -->
    <div class="d-none col-auto" style="width: 0rem;"></div>
</div>
{% endblock %}

{% block pageStylesAndScripts %}
<link rel="stylesheet" href="/project_schedule.css">
<script src="/datetime.js"></script>
<script src="/project_schedule.js"></script>
<script>
    var vm;
    var project=null;
    const projectCode="{{projectCode}}";

    function pageLoad() {
        //let projectCode = siteMaster_getQueryString("project")

        // Vue
        vm=new Vue({
            delimiters: ['{[', ']}'],
            data:{
                code:projectCode,
            },
            el: '#vueapp',
        });
    }
    
</script>
{% endblock %}