{% extends "base.html" %}

{% block title %}
<title>QMS</title>
{% endblock %}

{% block navbarBrand %}
<a class="navbar-brand">QMS</a>
{% endblock %}

{% block navbarMenuContent %}
<li class="nav-item"><a class="nav-link">Overview</a></li>
<li class="nav-item"><a class="nav-link" title="QMS settings" href="#">Settings</a></li>
{% endblock %}

{% block mainContent %}
<div class="flex-fill d-flex flex-row overflow-hidden">
    <!-- Left Panel -->
    <div class="d-none col-auto" style="width: 0;"></div>

    <!-- Main Panel -->
    <div class="px-0 col d-flex flex-column overflow-hidden">
        <div class="flex-fill shadow p-3" style="background-color: rgba(255,255,255,0.8)!important;">
            <ol class="breadcrumb bg-transparent p-0">
                <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
                <li class="breadcrumb-item"><a href="/qms">QMS</a></li>
                <li class="breadcrumb-item active">Manual</li>
            </ol>
            <hr />
            <div class="row">
                <div class="d-none d-md-block col-3">
                    <ul class="nav flex-column ">
                        <li class="nav-item">
                            <a class="nav-link active" href="./manual">Quality Manual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./procedures">Procedures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Work Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./workinstructions-daily"><span class="ml-3">Daily Operation</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./workinstructions-engineering">Engineering</a>
                        </li>
                    </ul>
                </div>
                <div class="col-9">
                    <ul v-for="doc in docList">
                        <li>
                            <p>{[doc.number]} | {[doc.title]}</p>
                            <small>{[doc.description]}</small>
                        </li>
                    </ul>
                </div>
            </div>
            
         
        </div>
    </div>

    <!-- Right Panel -->
    <div class="d-none col-auto" style="width: 0rem;">
    </div>

</div>
{% endblock %}


{% block pageStylesAndScripts %}
<style>
.nav-link.active{
    background-color: rgba(255,255,255,0.6);
}

</style>
<script>
    var vm;
    const qms=[
        {
            number:"ZQ-WI-10",
            title:"质量手册 2020",
            description:"",
            category:""
        }
    ];
    const wis=[
        {
            number:"ZQ-WI-10",
            title:"新产品开发-研发",
            description:"用于规范研发部门从事新产品开发的指导书",
            category:"RD"
        },
        {
            number:"ZQ-WI-11",
            title:"技术评审规定",
            description:"",
            category:"RD"
        },
        {
            number:"ZQ-WI-12",
            title:"研发立项流程",
            description:"用于规定研发部的立项流程，包括NTI、IRD等",
            category:"RD"
        },
        {
            number:"ZQ-WI-13",
            title:"研发阶段样机和物料管理办法",
            description:"",
            category:"RD"
        },
        {
            number:"ZQ-WI-13",
            title:"研发阶段样机和物料管理办法",
            description:"",
            category:"RD"
        },
        {
            number:"ZQ-WI-13",
            title:"研发阶段样机和物料管理办法",
            description:"",
            category:"RD"
        },
        {
            number:"ZQ-WI-13",
            title:"研发阶段样机和物料管理办法",
            description:"",
            category:"RD"
        },
        {
            number:"ZQ-WI-13",
            title:"研发阶段样机和物料管理办法",
            description:"",
            category:"RD"
        },
        {
            number:"ZQ-WI-13",
            title:"研发阶段样机和物料管理办法",
            description:"",
            category:"RD"
        },
        {
            number:"ZQ-WI-19",
            title:"技术文档存档规定",
            description:"用于指导公司技术相关文档的存档操作",
            category:"RD"
        },
    ];
    function pageLoad() {
        console.log("page initializing...");
        vm = new Vue({
            delimiters: ['{[', ']}'],
            data:function(){
                return {
                    docList:qms,
                };
            },
            el: "#vueapp",
        });
    }
</script>
{% endblock %}