{% extends "task/base.html" %}

{% block mainContent %}
<div class="flex-fill p-3 d-flex flex-column overflow-hidden sitemaster-maincontent">
    <ol class="breadcrumb bg-transparent p-0 m-0">
        <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
        <li class="breadcrumb-item"><a href="/task">Task</a></li>
        <li class="breadcrumb-item active">Search</li>
    </ol>
    <hr class="my-2" />
    <datalist-new title="Apply a New Task"></datalist-new>
</div>
{% endblock %}
{% block pageStylesAndScripts %}
<script src="/task/datalist-new.js"></script>
<script>
    function pageLoad() {
        vm = new Vue({
            delimiters: ['{[', ']}'],
            el: "#vueapp",
            data: function () {
                return {

                };
            }
        });
    }
</script>
{% endblock %}