{% extends "project_base.html" %}
{% block title %}
<title>eTime</title>
{% endblock %}

{% block navbarBrand %}
<a class="navbar-brand">eTime</a>
{% endblock %}

{% block navbarMenuContent %}
<li class="nav-item"><a class="nav-link" href="/etime/statistics">Statistics</a></li>
<li class="nav-item"><a class="nav-link" href="/ioi">IOI</a></li>
{% endblock %}

{% block mainContent %}
<div class="flex-fill p-3 d-flex flex-column overflow-hidden"
    style="background-color: rgba(255,255,255,0.8)!important;">
    <ol class="breadcrumb bg-transparent p-0 m-0 position-sticky">
        <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
        <li class="breadcrumb-item active">eTime</li>
    </ol>
    <hr class="my-2" />
    <et-editor :etimes="etimes" :timespan="timespan"></et-editor>
</div>
{% endblock %}

{% block pageStylesAndScripts %}
<link rel="stylesheet" href="/etime.css">
<script src="/etime.js"></script>
<script>
    var vm;
    function pageLoad() {

        let req = {
            function: "getMyEditableEtimes",
        };
        let rsp = $.ajax({
            type: "POST",
            url: "/etime/service",
            contentType: "application/json",
            data: JSON.stringify(req),
            dataType: "json",
            async: true,
            context: this,
            beforeSend: null,
            success: getMyEditableEtimes_successCallback,
            error: getMyEditableEtimes_errorCallback,
            complete: null,
        }).responseJSON;
        vm = new Vue({
            delimiters: ['{[', ']}'],
            el: '#vueapp',
            data: function () {
                return {
                    etimes: null,
                    timespan: null,
                }
            }
        });
    }
    function getMyEditableEtimes_successCallback(rsp) {
        console.info((new Date()).toTimeString() + ": Success to get etime data from the server!");
        console.log(rsp)
        vm.etimes = rsp.etimes;
        vm.timespan = rsp.timespan;
    }
    function getMyEditableEtimes_errorCallback(e) {
        console.error(`Fail to fetch etimes data from the server!`);
    }

</script>
{% endblock %}