{% extends "dcc/base.html" %}
{% block pageStylesAndScripts %}
<script>
    function pageLoad() {
        vm = new Vue({
            data: function () {
                return {

                };
            },
            el: "#vueapp",
        });
    }
</script>
<style>

</style>
{% endblock %}

{% block mainContent %}
<div class="flex-fill p-3 d-flex flex-column overflow-hidden"
    style="background-color: rgba(255,255,255,0.9)!important;">
    <ol class="breadcrumb bg-transparent p-0 m-0">
        <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
        <li class="breadcrumb-item active"><a href="/dcc">DCC</a></li>
        <li class="breadcrumb-item active">Search</li>
    </ol>
    <hr class="my-2" />

</div>
{% endblock %}